name: CI

on:
  pull_request:
    branches:
      - main
      - "release-*"
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  ci-checks:
    runs-on: ubuntu-latest
    name: CI Checks
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417
        with:
          go-version-file: go.mod
          cache: true

      - name: Verify dependencies
        run: go mod verify

      - name: Format check
        run: |
          if [ -n "$(go fmt ./...)" ]; then
            echo "Code is not formatted. Run 'go fmt ./...'"
            exit 1
          fi

      - name: Vet
        run: go vet ./...

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v -race -coverprofile=coverage.out ./...

      - name: Upload coverage
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: coverage
          path: coverage.out
